<div class="container">
    <!-- <div class="logo mat-app-background" style="flex-grow: 1"> -->
    <div class="logo" style="flex-grow: 1">
        <!-- <img src="assets/background_authenticate.png"> -->
    </div>

    <div class="formulario">
        <h1>
            Seja bem-vindo ao SIGIOT
        </h1>
        <form>
            <mat-form-field>
                <input matInput placeholder="E-mail" [(ngModel)]="email" name="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Senha" [(ngModel)]="password" name="password" type="password">
            </mat-form-field>
            <a href="">Esqueceu sua senha?</a>
        </form>
        <div class="botoes">
            <button mat-raised-button (click)="login()" color="primary">
                ENTRAR
            </button>
            <button mat-button (click)="register()" color="primary">
                CADASTRE-SE
            </button>
        </div>
    </div>
</div>