<div class="container">
    <div class="logo" style="flex-grow: 1"></div>

    <div class="formulario">
        <div class="title">
            <p class="raleway">
                Seja bem-vindo ao
            </p>
            <p class="squada-one">
                SIGIoT
            </p>
        </div>
        <form [formGroup]="form" novalidate>
            <mat-form-field class="input-auth">
                <input matInput placeholder="Nome" formControlName="name">
                <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-auth">
                <input matInput type="tel" placeholder="Telefone" formControlName="cellphone">
                <mat-error *ngIf="form.get('cellphone')?.hasError('minlength') && form.get('cellphone')?.touched">
                    Telefone inválido
                </mat-error>
                <mat-error *ngIf="form.get('cellphone')?.hasError('required') && form.get('cellphone')?.touched">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-auth">
                <input matInput type="email" placeholder="E-mail" formControlName="email">
                <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
                    E-mail inválido
                </mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-auth">
                <input matInput type="password" placeholder="Senha" formControlName="password">
                <mat-error *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched">
                    Sua senha deve conter no mínimo 8 caracteres
                </mat-error>
                <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-auth">
                <input matInput type="password" placeholder="Confirmar senha" formControlName="confirmPassword">
                <mat-error
                    *ngIf="form.get('confirmPassword')?.hasError('minlength') && form.get('confirmPassword')?.touched">
                    Sua senha deve conter no mínimo 8 caracteres
                </mat-error>
                <mat-error
                    *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
            <div class="inputs-obg">Campos obrigatórios *</div>
        </form>
        <div class="botoes">
            <button mat-raised-button (click)="register()" class="botao">
                Cadastre-se
            </button>
        </div>
    </div>
</div>