.content {
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 4px;
}

.body-grid {
    position: absolute;
    top: 16px;
    left: 16px;
}

.padding {
    padding: 8px;
}

.padding-4 {
    padding-right: 4px;
}

.row {
    display: flex;
    align-items: center;
}

.container-setups {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.setup {
    background-color: #FFFFFF;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 350px;
    /* height: 250px; */
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setup-title {
    background-color: #000000;
    color: #00FFFF;
    padding: 16px;
    align-items: center;
    text-align: center;
    font-family: "Squada One";
    font-size: 30px;
}

.setup-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
}