.content {
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 4px;
}

.padding {
    padding: 8px;
}

.table{
    width: 100%;
    border-radius: 4px;
    font-family: Raleway;
    font-size: 16px;
}

.keys-empty{
    background-color: #FFFFFF;
    vertical-align: center;
    align-items: center;
}

.row{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.table-header{
    font-family: "Squada One";
    font-size: 35px;
    color: #00FFFF;
    background-color: #000000;
}