.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #00FFFF;
    height: 80px;
    font-family: "Squada One";
    font-size: 24px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #696969;
}

.footer h4{
    color: #FFFFFF;
    
}

.sidenav {
    background: linear-gradient(0deg, #00FFFF 0.07%, #ACFFFF 53.28%, #F8FFFF 103.9%, #FFFFFF 103.91%);
    width: 200px;
}

.sidenav a{
    color: #000000;
    vertical-align: middle;
    font-family: Raleway;
    font-weight: 500;
}

.sidenav mat-icon{
    padding-right: 8px;
}

.sidenav-content {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: #f1f1f1;
}
