/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Raleway, "Helvetica Neue", sans-serif;
    background-color: #f1f1f1;
    /* background-image: url("/assets/background_dashboard.svg");
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center; */
}

.raleway{
    font-family: Raleway;
    font-size: 20px;
}

.squada-one{
    font-family: "Squada One";
    font-size: 48px;
}

.squada-one-25{
    font-family: "Squada One";
    font-size: 25px;
}

.botao{
    font-family: "Squada One";
    font-size: 32px;
    color: #00FFFF;
    background-color: black;
    height: 55px;
}

.button-white{
    font-family: Raleway;
    font-size: 18px;
    color: #000000;
}

.link{
    font-family: Raleway;
    font-size: 16px;
    color: #000000;
}

.input-auth{
    font-family: Raleway;
    font-size: 16px;
    
}

.header-page{
    height: 120px;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90.55deg, #00FFFF 0.07%, #ACFFFF 53.28%, #F8FFFF 103.9%, #FFFFFF 103.91%);
}

.header-page-title{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Squada One";
    font-size: 40px;
    font-weight: 700;
}

.divider-title{
    padding-left: 16px;
    padding-right: 16px;
}

.input-text{
    border-radius: 5px;
}

.input-text-label{
    background-color: #000000;
    border-radius: 5px;
    color: #00FFFF;
    font-family: "Squada One";
    font-size: 22px;
    padding: 8px;
}

.body-title{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
}


